@using Chatter.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model Chatter.Application.Dtos.Rooms.RoomDto
@{
    var chatMessages = (List<Chatter.Application.Dtos.Chats.ChatMessage>) ViewBag.ChatMessages;
    var currentUserId = (string) ViewBag.CurrentUserId;

}

@section Css{

    <link rel="stylesheet" href="/css/single-chat.css">
}

@section Script
{
    <script>
       let contentBody = document.getElementById('contentBody');
       if (contentBody != null){
          contentBody.classList.remove("container");
        }
            function displayResults(results) {
                let $resultsDiv = $('#searchResults');
                $resultsDiv.empty();
                $resultsDiv.css('margin-bottom', '10px'); // İsteğe bağlı olarak, sonuçlar bölümünün arka plan rengini değiştirebilirsiniz.
    
                if (results.length > 0) {
                    $.each(results, function(index, item) {
                         let existRoomUser = $(`.user-name:contains('${item.userName}')`); 
                         let existInviteUser = $(`.invite-user:contains('${item.userName}')`);
                     if (existRoomUser.length === 0 && existInviteUser.length === 0) {
                         $resultsDiv.append(`<div style="padding:5px;" id="searched-user-${item.userName}">
                         <a style="text-decoration: none; color: #ffeba7;" href="javascript:inviteUser('${item.userName}')">
                          <img src="/img/profileImages/${item.profileImagePath}" alt="User Name"  class="profile-icon search" onerror="this.onerror=null; this.src='/img/profileImages/default_img_orange.jpg'">
                          <span class="user-name search">${item.userName}</span>
                            </a></div>`); // Arama sonuçlarını ekranda gösterin.
              
                      }
                    });
                    $resultsDiv.show(); // Sonuçlar gösterildiğinde sonuçlar bölümünü görünür hale getirin.
                } else {
                    $resultsDiv.hide(); // Sonuç bulunamadıysa sonuçları gizleyin.
                }
            } 
         
           function changeShowUserContainer() {
              let userContainer = document.getElementById("user-container");
            
                if (userContainer.style.width === "20em") {
                    userContainer.style.width = "0";
                } else {
                  userContainer.style.width = "20em";
                  }
            }   
       
           function changeShowChatterContainer() {
                   let userContainer = document.getElementById("chatter-container");
                   
                    if (userContainer.style.width === "20em") {
                       userContainer.style.width = "0";
                   } else {
                     userContainer.style.width = "20em";
                     }
              }
       
            // let userId = '@currentUserId';
            let roomId = @Model.Id.ToString();
            window.addEventListener("DOMContentLoaded", (event) => {
            document.getElementById('searchInput').addEventListener('input', function (e) {
                var searchValue = e.target.value;
                   searchUser(searchValue);
                });
          

            document.getElementById('newMessageInput').addEventListener('input', function (e) {
              if (e.target.value.length <= 0) {
                  document.getElementById('sendMessageBtn').style.pointerEvents = "none";
                    
                  document.getElementById('sendMessageIcon').style.opacity =  0.5;
              }
              else {
                   document.getElementById('sendMessageBtn').style.pointerEvents = "auto";
                  document.getElementById('sendMessageIcon').style.opacity = 1;
              }
          });
            
        });
            
              
            function searchUser(searchValue){
                 var searchResults = document.getElementById('searchResults');
                searchResults.innerHTML = '';
                if (searchValue.length > 0) {
                    fetch('/api/v1/users/search/' + searchValue)
                        .then(response => response.json())
                        .then(data => {
                            displayResults(data)
                            
                        });
                  }
                }
                
             function deleteInInviteList(username){
                let selectedUsers = document.getElementById('selectedUsers');
                let userDiv = document.getElementById(`invited-user-${username}`);
                selectedUsers.removeChild(userDiv);
                searchUser( document.getElementById('searchInput').value);
            }
              function inviteUser(username){
                 let selectedUsers = document.getElementById('selectedUsers');
                 // selectedUsers.style.display = "flex";
                    let userDiv = document.createElement('div');
                    userDiv.classList.add("invite-user-selected");
                    userDiv.id = `invited-user-${username}`;
                    userDiv.innerHTML = `<span class="user-name search">${username}</span>`;
                    userDiv.innerHTML += `<a href="javascript:deleteInInviteList('${username}')"><i class="fa-sharp fa-solid fa-xmark fa-l" style="padding:5px; color: #ffeba7;"></i></a>`;
                    selectedUsers.appendChild(userDiv);
                    document.getElementById(`searched-user-${username}`).remove();
                }
                
                function filterUser() {
                  var input = document.getElementById("filter-user");
                  var filter = input.value.toUpperCase();
                  var ul = document.getElementById("user-list");
                  var li = ul.getElementsByTagName("li");
                  for (i = 0; i < li.length; i++) {
                    span = li[i].getElementsByClassName("user-name")[0];
                    if (span.innerHTML.toUpperCase().indexOf(filter) > -1) {
                      li[i].style.display = "";
                    } else {
                      li[i].style.display = "none";
                    }
                  }
                }
        </script>

}


<div class="main-div">
    <div class="chatter-container" id="chatter-container" >
        <div class="d-flex justify-content-between title-container">
            <h4 class="card-title">
                <b style="margin-left: 20px;">Chats</b>
            </h4>
            <div class="closeDiv">
                <a href="javascript:changeShowChatterContainer()">
                    <i class="fa-sharp fa-solid fa-xmark fa-xl closeDivIcon" style="color: #ffeba7;"></i>
                </a>
            </div>
        </div>
        <div class="chat-list" id="chat-list">
            @* example *@
            @* <div class="chat-info" id="chat-info-${otherRoomInfo.id}"> *@
            @*     <a href="\\Room\\Chat\\${otherRoomInfo.id}"> *@
            @*         <div class="d-flex justify-content-between "> *@
            @*             <h4 class="card-title" style="margin:0"> *@
            @*                 <b style="">${otherRoomInfo.title}</b> *@
            @*             </h4> *@
            @*             <span class="message-date" style="position:relative; opacity: 0.6; padding-right:20px">${new Date(otherRoomInfo.lastChatMessage.sentDate).getHours()}:${new Date(otherRoomInfo.lastChatMessage.sentDate).getMinutes().toString().padStart(2, '0')}</span> *@
            @*         </div> *@
            @*         <div> *@
            @*             <span>${otherRoomInfo.lastChatMessage.userInfo.userName}: ${otherRoomInfo.lastChatMessage.message}</span> *@
            @*         </div> *@
            @*     </a> *@
            @* </div> *@

        </div>
    </div>
    <div class="chat-container">
        <div class="d-flex justify-content-between title-container">
            <h4 class="card-title">
                <b style="margin-left: 20px;">@Model.Title</b>
            </h4>
            <div class="justify-content-between d-flex">
                <div class="closeDiv" style="margin:auto">
                    <a href="javascript:changeShowChatterContainer()">
                        <h4>
                            <b>Chats</b>
                        </h4>
                    </a>

                </div>
                <div>
                    <a href="javascript:changeShowUserContainer()">
                        <i class="fa-sharp fa-solid fa-user fa-xl closeDivIcon" style="color: #ffeba7;"></i>
                    </a>
                </div>
                <div class="dropstart" id="roomSettingDropDown">
                    <a class="nav-link" href="#" role="button" id="settingDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 10px;">
                        <i id="settingIcon" class="fa-sharp fa-solid fa-gear fa-xl"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="settingDropdownMenu">
                        <li>
                            <button type="button" class="dropdown-item" onclick="$('#LeaveRoomForm #roomId').val('@Model.Id');" data-bs-toggle="modal" data-bs-target="#LeaveRoomModal">
                                Chatten Ayrıl
                            </button>
                        </li>
                        @if (User.IsInRole(ChatPermissionType.Admin.ToString()) || Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))?.PermissionType == ChatPermissionType.Admin)
                        {
                            <li>
                                <button type="button" class="dropdown-item" onclick="$('#EditRoomForm #Id').val('@Model.Id');" data-bs-toggle="modal" data-bs-target="#EditRoomModal">Odayı Düzenle</button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item" onclick="$('#DeleteRoomForm #roomId').val('@Model.Id');" data-bs-toggle="modal" data-bs-target="#DeleteRoomModal">Odayı Sil</button>
                            </li>
                        }

                    </ul>
                </div>

            </div>
        </div>
        <div class="message-container">
            <div class="message-body" id="message-body">
                <ul class="message-list" id="message-list">
                    @{
                        foreach (var message in chatMessages)
                        {
                            if (message.SenderUserId == currentUserId)
                            {
                                <div class="message sent-message ">
                                    <span class="message username">@message.UserInfo.UserName</span>
                                    <div class="message-content">
                                        <p class="message-text">@message.Message</p>
                                        <small class="message-date">@message.SentDate.ToLocalTime().ToShortTimeString()</small>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="message received-message ">
                                    <span class="message username">@message.UserInfo.UserName</span>
                                    <div class="message-content">
                                        <p class="message-text">@message.Message</p>
                                        <small class="message-date">@message.SentDate.ToLocalTime().ToShortTimeString()</small>
                                    </div>
                                </div>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="message-footer">
                <input type="text" id="newMessageInput" placeholder="Mesajınızı yazın...">
                <a id="sendMessageBtn" href="#" style="pointer-events: none;"
                   data-toggle="tooltip" data-placement="bottom" title="Send">
                    <i id="sendMessageIcon" class="fas fa-solid fa-paper-plane fa-xl" style="color: #74C0FC; opacity: 0.5"></i>
                </a>

            </div>
        </div>
    </div>
    <div class="user-container" id="user-container" >
        <div class="d-flex justify-content-between title-container">
            <h4 class="card-title">
                <b style="margin-left: 20px;">Kullanıcılar</b>
            </h4>
            <div class="closeDiv">
                <a href="javascript:changeShowUserContainer()">
                    <i class="fa-sharp fa-solid fa-xmark fa-xl closeDivIcon" style="color: #ffeba7;"></i>
                </a>
            </div>
        </div>
        <div class="user-content-container">
            <div class="invite-user">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#InviteUserModal">
                    Kullanıcı Davet Et
                </button>
            </div>
            <div style="padding:5px;">
                <input type="text" id="filter-user" onkeyup="filterUser()" placeholder="Search.." style="width: -webkit-fill-available"/>
            </div>
            <div>
                <ul id="user-list">
                    @foreach (var user in Model.Users)
                    {
                        <li class="user-info" id="user-info-@user.Id-@Model.Id">
                            <!--- user-info-UserId-RoomId--->
                            <div class="dropdown" style="position:relative">
                                <div class="user-profile" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    <span style="color:red" id="session-icon-@user.Id">&#11044;&nbsp&nbsp</span>
                                    <img src="/img/profileImages/@user.ProfileImagePath" alt="User Name" class="profile-icon" onerror="this.onerror=null; this.src='/img/profileImages/default_img_orange.jpg'">
                                    <div class="row g-0">
                                        <div class="col">
                                            <span class="user-name" id="user-name-@user.UserName">@user.UserName</span>
                                            @if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == user.Id)?.PermissionType == ChatPermissionType.Admin)
                                            {
                                                <span style="opacity: 0.6; font-size: 13px; margin-left: 10px;"> ~ Admin</span>
                                            }
                                        </div>
                                        <span class="user-description">&nbsp&nbsp @user.StatusDescription</span>
                                    </div>
                                </div>
                                @if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))?.PermissionType == ChatPermissionType.Admin)
                                {
                                    <ul class="dropdown-menu" style="position: absolute;">

                                        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != user.Id)
                                        {
                                            <li>
                                                <form method="post" asp-controller="Room" asp-action="RemoveUserInRoom">
                                                    <input type="hidden" name="roomId" value="@Model.Id"/>
                                                    <input type="hidden" name="chatterUserId" value="@user.Id"/>
                                                    <button type="submit" class="nav-link text-dark">Odadan At</button>
                                                </form>
                                            </li>
                                        }
                                        @if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == user.Id)?.PermissionType != ChatPermissionType.Admin)
                                        {
                                            <li>
                                                <form method="post" asp-controller="Room" asp-action="AddAdminToRoom">
                                                    <input type="hidden" name="roomId" value="@Model.Id"/>
                                                    <input type="hidden" name="chatterUserId" value="@user.Id"/>
                                                    <button type="submit" class="nav-link text-dark">Admin Yap</button>
                                                </form>
                                            </li>
                                        }

                                    </ul>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="InviteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Davet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="search-user">
                <div id="selectedUsers">
                    
                </div>
                <input type="text" id="searchInput"/>
                <div id="searchResults" style="display: none;"></div>
                <button class="btn btn-primary">
                    Davet Et
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Oda Güncelleme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Room" asp-action="EditRoom" method="POST" id="EditRoomForm">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="Id" value="" asp-for="Id"/>
                    <div class="form-group row">
                        <label asp-for="Title" class="col-md-2 col-form-label">Oda Konusu</label>
                        <div class="col-md-10">
                            <input type="text" name="Title" id="Title" asp-for="Title" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="IsPublic" class="col-md-2 col-form-label">Herkese Açık</label>
                        <div class="col-md-10">
                            <select class="form-control" id="IsPublic" name="IsPublic" asp-for="IsPublic" required>
                                <option value="true">Evet</option>
                                <option value="false">Hayır</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Capacity" class="col-md-2 col-form-label">Kapasite</label>
                        <div class="col-md-10">
                            <input type="number" name="Capacity" id="Capacity" asp-for="Capacity" required/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="DeleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bu oda silenecek emin misin?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <form method="post" asp-controller="Room" asp-action="DeleteRoom" id="DeleteRoomForm">
                    <input type="hidden" name="roomId" id="roomId" value=""/>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="LeaveRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bu odadan ayrılacaksınız. Emin misin?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <form method="post" asp-controller="Room" asp-action="LeaveRoom" id="LeaveRoomForm">
                    <input type="hidden" name="roomId" id="roomId" value=""/>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </form>

            </div>
        </div>
    </div>
</div>