@using Chatter.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model Chatter.Application.Dtos.Rooms.RoomDto

@{
    var chatMessages = (List<Chatter.Application.Dtos.Chats.ChatMessage>) ViewBag.ChatMessages;
    var currentUserId = (string) ViewBag.CurrentUserId;
    Layout = "_ChatLayout";
}

@section Css
{
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <style>
        .user-profile {
          display: flex;
          align-items: center;
        }
        
        #searchInput {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }
        
        .profile-icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
        
        .user-name {
          font-size: 15px;
        }

        .profile-icon.search{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
        
        .user-name.search{
          font-size: 10px;
        }
   
        ul {
            padding: 0;
            list-style: none;
        }
        li {
        list-style-type: none;
        
            text-align: left;
            margin-left: 0;
        }
        #userList .dropend:hover{
            background-color: #f1f1f1;
        }
     
   
    </style>
}

@section Script
{

    <script>
        function displayResults(results) {
            let $resultsDiv = $('#searchResults');
            $resultsDiv.empty();
            $resultsDiv.css('background-color', '#ccc'); // İsteğe bağlı olarak, sonuçlar bölümünün arka plan rengini değiştirebilirsiniz.

            if (results.length > 0) {
                $.each(results, function(index, item) {
                     var existUser = $('#userList .user-name').filter(function() {
                                    return $(this).text() === item.userName;
                                });
                 if (existUser.length === 0) {
                    $resultsDiv.append('<p>' +  '<div class="user-profile">' +
                                   '<img src="/img/profileImages/' + item.profileImagePath + '" alt="User Name" class="profile-icon search">'
                                   + '<span class="user-name search">' + item.userName + '</span></div></p>'); // Arama sonuçlarını ekranda gösterin.
                  }
                });
                $resultsDiv.show(); // Sonuçlar gösterildiğinde sonuçlar bölümünü görünür hale getirin.
            } else {
                $resultsDiv.hide(); // Sonuç bulunamadıysa sonuçları gizleyin.
            }
        } 
        
        let roomId = @Model.Id.ToString();
        
        document.getElementById('searchInput').addEventListener('input', function (e) {
                var searchResults = document.getElementById('searchResults');
                searchResults.innerHTML = '';
                var searchValue = e.target.value;
                if (searchValue.length > 0) {
                    fetch('/api/v1/users/search/' + searchValue)
                        .then(response => response.json())
                        .then(data => {
                            displayResults(data)
                            
                        });
                }
            });
    
   
        document.getElementById('newMessageInput').addEventListener('input', function (e) {
          if (e.target.value.length <= 0) {
              document.getElementById('sendMessageBtn').style.pointerEvents = "none";
                
              document.getElementById('sendMessageIcon').style.opacity =  0.5;
          }
          else {
               document.getElementById('sendMessageBtn').style.pointerEvents = "auto";
              document.getElementById('sendMessageIcon').style.opacity = 1;
          }
      });
    
    </script>

    <script src="~/js/chat.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

}

<div class="row">
    <div class="col-md-4">
        <div class="card mb-12" style="height: 100%">
            <div class="card-body">
                <h4 class="card-title">
                    <b>Kullanıcılar</b>
                    <hr/>
                    <input type="text" id="searchInput"/>
                    <div id="searchResults" style="display: none;"></div>
                    <div id="userList">
                        <ul>
                            @foreach (var user in Model.Users)
                            {
                                <li>
                                    <div class="dropend">
                                        <div class="user-profile" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                            <span style="color:red" id="@user.Id">&#11044;&nbsp&nbsp</span>
                                            <img src="/img/profileImages/@user.ProfileImagePath" alt="User Name" class="profile-icon">
                                            <span class="user-name">@user.UserName</span>
                                            @if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == user.Id)?.PermissionType == ChatPermissionType.Admin)
                                            {
                                                <span style="opacity: 0.5; font-size: 13px; margin-left: 10px;"> ~ Admin</span>
                                            }
                                        </div>
                                        <ul class="dropdown-menu">
                                            @if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))?.PermissionType == ChatPermissionType.Admin)
                                            {
                                                if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == user.Id)?.PermissionType != ChatPermissionType.Admin)
                                                {
                                                    <li>
                                                        <form method="post" asp-controller="Room" asp-action="AddAdminToRoom">
                                                            <input type="hidden" name="roomId" value="@Model.Id"/>
                                                            <input type="hidden" name="chatterUserId" value="@user.Id"/>
                                                            <button type="submit" class="nav-link text-dark">Admin Yap</button>
                                                        </form>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="d-flex justify-content-between">
            <h4 class="card-title" style="color:white;">
                <b style="margin-left: 10px;">@Model.Title</b>
            </h4>
            <div class="mb-1">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="fa-sharp fa-solid fa-gear fa-xl"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="nav-link text-dark" onclick="$('#LeaveRoomForm #roomId').val('@Model.Id');" data-bs-toggle="modal" data-bs-target="#LeaveRoomModal">
                                Odadan Ayrıl
                            </button>
                        </li>
                        @if (Model.RoomPermissions.FirstOrDefault(x => x.ChatterUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))?.PermissionType == ChatPermissionType.Admin)
                        {
                            <li>
                                <button type="button" class="nav-link text-dark" onclick="$('#EditRoomForm #Id').val('@Model.Id');" data-bs-toggle="modal" data-bs-target="#EditRoomModal">Odayı düzenle</button>
                            </li>
                            <li>
                                <button type="button" class="nav-link text-dark" onclick="$('#DeleteRoomForm #roomId').val('@Model.Id');" data-bs-toggle="modal" data-bs-target="#DeleteRoomModal">Odayı sil</button>
                            </li>
                        }

                    </ul>
                </div>

            </div>
        </div>
        <div class="message-container">
            <div class="message-body" id="message-body">
                <ul class="message-list" id="message-list">
                    @{
                        foreach (var message in chatMessages)
                        {
                            if (message.SenderUserId == currentUserId)
                            {
                                <div class="message sent-message ">
                                    <span class="message username">@message.UserInfo.UserName</span>
                                    <p>@message.Message</p>
                                </div>
                            }
                            else
                            {
                                <div class="message received-message ">
                                    <span class="message username">@message.UserInfo.UserName</span>
                                    <p>@message.Message</p>
                                </div>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="message-footer">
                <input type="text" id="newMessageInput" placeholder="Mesajınızı yazın...">
                <a id="sendMessageBtn" href="#" style="pointer-events: none;"
                   data-toggle="tooltip" data-placement="bottom" title="Send">
                    <i id="sendMessageIcon" class="fas fa-solid fa-paper-plane fa-xl" style="color: #74C0FC; opacity: 0.5"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Oda Güncelleme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Room" asp-action="EditRoom" method="POST" id="EditRoomForm">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="Id" value="" asp-for="Id"/>
                    <div class="form-group row">
                        <label asp-for="Title" class="col-md-2 col-form-label">Oda Konusu</label>
                        <div class="col-md-10">
                            <input type="text" name="Title" id="Title" asp-for="Title" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="IsPublic" class="col-md-2 col-form-label">Herkese Açık</label>
                        <div class="col-md-10">
                            <select class="form-control" id="IsPublic" name="IsPublic" asp-for="IsPublic" required>
                                <option value="true">Evet</option>
                                <option value="false">Hayır</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Capacity" class="col-md-2 col-form-label">Kapasite</label>
                        <div class="col-md-10">
                            <input type="number" name="Capacity" id="Capacity" asp-for="Capacity" required/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="DeleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bu oda silenecek emin misin?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <form method="post" asp-controller="Room" asp-action="DeleteRoom" id="DeleteRoomForm">
                    <input type="hidden" name="roomId" id="roomId" value=""/>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="LeaveRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bu odadan ayrılacaksınız. Emin misin?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <form method="post" asp-controller="Room" asp-action="LeaveRoom" id="LeaveRoomForm">
                    <input type="hidden" name="roomId" id="roomId" value=""/>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </form>

            </div>
        </div>
    </div>
</div>