@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Collections.Generic.List<Chatter.Application.Dtos.Rooms.RoomDto>
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateRoomModal2">Yeni Oda</button> *@



<!-- Modal - test amaçlı --> 
<div class="modal fade" id="CreateRoomModal2" aria-labelledby="createRoomLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomLabel">Create Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Lorem sdfklşsdşlfsdknfşlsd</label>
                    <label>Lorem sdfklşsdşlfsdknfşlsd</label>
                    <label>Lorem sdfklşsdşlfsdknfşlsd</label>
                    <label>Lorem sdfklşsdşlfsdknfşlsd</label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
        </div>
    </div>
</div>

@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var room in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body" >
                        <h4 class="card-title" align="center" >
                            <a href="#">@room.Title</a>
                        </h4>
                        <small class="text-muted">
                        <b>Capacity : </b> @room.RoomChatterUsers.Count/@room.Capacity
                        </small>
                    </div>
                    <div class="card-footer text-center">
                        @if (@User.Identity.IsAuthenticated)
                        {
                            if(room.RoomChatterUsers.Exists(x => x.ChatterUserId == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <a asp-controller="Room" asp-action="Detail" asp-route-id="@room.Id" class="btn btn-outline-primary btn-sm">Sohbete Git</a>

                                <form asp-controller="Room" asp-action="LeaveRoom" method="post" style="display:inline;">
                                    <input type="hidden" name="roomId" value="@room.Id">
                                    <button type="submit" class="btn btn-outline-danger btn-sm ml-3">Ayrıl</button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Room" asp-action="JoinRoom" method="post" style="display:inline;">
                                    <input type="hidden" name="roomId" value="@room.Id">
                                    <button type="submit" class="btn btn-outline-primary btn-sm ml-3">Katıl</button>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}