@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chatter.WebApp.Models.Account.RegisterDto
@{
    ViewData["Title"] = "Register";
}

@section Script
{
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Register User</h1>
<hr/>

<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMesage != null)
        {
            <div class="text-danger">@ViewBag.ErrorMesage</div>
        }
        <form asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label">First Name</label>
                <div class="col-md-10">
                    <input asp-for="FirstName" value="@Model.FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label">Last Name</label>
                <div class="col-md-10">
                    <input asp-for="LastName" value="@Model.LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label">Kullanıcı Adı</label>
                <div class="col-md-10">
                    <input asp-for="UserName" value="@Model.UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label">E-Posta</label>
                <div class="col-md-10">
                    <input asp-for="Email" value="@Model.Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label">Parola</label>
                <div class="col-md-10">
                    <input asp-for="Password" value="@Model.Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-2 col-form-label">Parola tekrar</label>
                <div class="col-md-10">
                    <input asp-for="RePassword" value="@Model.RePassword" class="form-control"/>
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Kullanıcı Oluştur</button>
                </div>
            </div>
        </form>
    </div>
</div>