@using Chatter.WebApp.HUB
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Collections.Generic.List<Chatter.Domain.Entities.EFCore.Identity.ChatterUser>


@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css">

    <style>
    .user-profile {
      display: flex;
      align-items: center;
    }
    
    .profile-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    
    .user-name {
      font-size: 20px;
    }

    </style>
}

@section Script{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>

    <script>
      $(document).ready(function () {
             $('#userTable').DataTable();
             
              
         }); 
    </script>
}


<h2>Kullanıcılar</h2>
<hr/>

<table id="userTable" class="table table-striped" style="width:100%">
    <thead>
    <tr>
        <th> </th>
        <th>Session</th>
        <th>User ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>CreatedDate</th>

    </tr>
    </thead>
    <tbody>
    @if (Model.Count() > 0)
    {
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id"
                       data-toggle="tooltip" data-placement="bottom" title="Edit">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Remove"
                       href="#" onclick="$('#deleteUserForm #id').val('@user.Id'); $('#DeleteUserModal').modal('show')">
                        <i class="fas fa-user-times"></i>
                    </a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Change Password"
                       href="#" onclick="$('#ChangePasswordForm #email').val('@user.Email'); $('#ChangePasswordModal').modal('show')">
                        <i class="fas fa-key"></i>
                    </a>
                </td>
                @if (ActiveConnections.SignalRConnections.FirstOrDefault(x => x.UserId == user.Id) != null)
                {
                    <td>
                        <span  style="color:green" id="session-icon-@user.Id">&#11044;&nbsp&nbsp</span>
                    </td>
                }
                else
                {
                    <td>
                        <span style="color:red" id="session-icon-@user.Id">&#11044;&nbsp&nbsp</span>
                    </td>
                }
                <td>@user.Id</td>
                <td>

                    <div class="user-profile">
                        <img src="/img/profileImages/@user.ProfileImagePath" alt="User Name" class="profile-icon">
                        <span class="user-name">@user.UserName</span>
                    </div>
                </td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.CreatedDate</td>

            </tr>
          
        }
    }
    </tbody>
</table>