@using Chatter.WebApp.Extensions
@using System.Security.Claims

<!DOCTYPE html>

<html class="dark" data-bs-theme="dark">
<head>
    <matea charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chatter</title>
    <link rel="stylesheet" href="~/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    
    @RenderSection("Css", false)

</head>
<body id="siteBody">
<header>
    @await Html.PartialAsync("_navbar")
</header>
<div class="container" id="contentBody">
    @if (TempData["message"] != null)
    {
        var resultMessage = TempData.Get<ResultMessage>("message");
        <script type="text/javascript">
        window.addEventListener('load', function() {
                 showNotification('@resultMessage.Title', '@resultMessage.Css', '@resultMessage.Message');
             });
        </script>
    }
    <main role="main" >
        @RenderBody()
    </main>
</div>

<script>
    let isAuthenticated = '@User.Identity.IsAuthenticated' === 'True';
    let userId = null;

    if (isAuthenticated)
        userId = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
</script>

<script src="~/modules/jquery/dist/jquery.min.js"></script>
<script src="~/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@RenderSection("Script", false)
<script src="~/js/bootstrap-toast.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
<script>
 function showNotification(title, css, message) {
         if (message === null || message === undefined) {
          return;
         }
        const toast = bootstrap.showToast({
            header: title,
            closeButtonClass: "btn-close-white",
            toastClass:  "custom-toast",
            body: `<p>${message}</p>`
        });
    }
</script>
</body>
</html>